<div class="row g-3">
    <div class="col-12" *ngIf="posItemBeingEdited">
        <div class="card">
            <div class="card-header">Currently Editing</div>
            <div class="card-body">
                <div class="w-100 d-flex justify-content-between">
                    <span>{{ posItemBeingEdited.title }} @ {{ posItemBeingEdited.rate | currency:'INR' }}</span>
                    <button class="btn btn-danger">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <app-template-form [pos]="posItemBeingEdited.id"></app-template-form>
    </div>
    <div class="col-6">
        <app-template-list [pos]="posItemBeingEdited.id"></app-template-list>
    </div>
</div>