<section class="card mt-2" *ngIf="recentPaymentMethod">
  <div class="card-header">Recent Payment Method</div>
  <div class="card-body">
    <button
      #defaultPaymentBtn
      class="btn btn-secondary w-100 p-3 mt-2"
      (click)="selectPaymentMethod(recentPaymentMethod)"
    >
      {{ recentPaymentMethod.title }}
    </button>
  </div>
</section>

<section class="card">
  <div class="card-body">
    <form [formGroup]="paymentMethodForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Select Payment Method</mat-label>
        <mat-select name="paymentMethod" formControlName="paymentMethod">
          <mat-option *ngFor="let ledger of ledgers | async" [value]="ledger">
            {{ ledger.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button type="submit" class="btn btn-primary w-100">Select</button>
    </form>
  </div>
</section>

<section class="card mt-2">
  <div class="card-header">Payment Not Received</div>
  <div class="card-body">
    <button class="btn btn-danger w-100 mt-2" (click)="setUdhaar()">
      Udhaar
    </button>
  </div>
</section>
