<form class="card card-body" [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <h4 class="fs-4 mb-3 card-title">View Cashbook</h4>

  <mat-form-field class="d-block w-100" appearance="outline">
    <mat-label>Date</mat-label>
    <input matInput type="date" [formControl]="date" />
  </mat-form-field>

  <mat-form-field class="d-block w-100" appearance="outline">
    <mat-label>Ledger</mat-label>
    <mat-select [formControl]="ledger">
      <mat-option *ngFor="let l of ledgers | async" [value]="l">
        {{ l.title }} - {{ l.kind }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    type="submit"
    class="btn d-block w-100"
    mat-flat-button
    color="primary"
  >
    Get Data
  </button>
</form>
