<form class="ui raised segment mt-2" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="ui grid">
        <div class="sixteen wide column">
            <div class="ui header">
                View Cashbook
            </div>
        </div>
        <div class="four wide column">
            <mat-form-field class="d-block">
                <mat-label>Date</mat-label>
                <input matInput type="date" [formControl]="date">
            </mat-form-field>
        </div>
        <div class="eight wide column">
            <mat-form-field class="d-block">
                <mat-label>Ledger</mat-label>
                <mat-select [formControl]="ledger">
                    <mat-option *ngFor="let l of ledgers | async" [value]="l.id">
                        {{ l.title }} - {{ l.group }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="four wide column">
            <button type="submit" class="ui fluid submit button">Get Data</button>
        </div>
    </div>
</form>

<table class="ui raised table segment" *ngIf="vouchers.length > 0;else noDataMessage">
    <thead>
        <tr>
            <th>#</th>
            <th>CR</th>
            <th>DR</th>
            <th>Description</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let v of vouchers">
            <td>{{ v.id }}</td>
            <td>{{ v.creditor.title }}</td>
            <td>{{ v.debtor.title }}</td>
            <td>{{ v.narration }}</td>
            <td>{{ v.amount | currency:'INR' }}</td>
        </tr>
    </tbody>
</table>

<ng-template #noDataMessage>
    <div class="ui placeholder segment">
        <div class="ui icon header">
            <i class="info icon"></i>
            There is No Data to Display for Selected Date or Account
        </div>
    </div>
</ng-template>