<form class="card" [formGroup]="templateForm" (ngSubmit)="onSubmit()">
    <h2 class="card-header fs-2">
        Create / Update Template
    </h2>
    <div class="card-body">
        <mat-form-field appearance="outline" class="d-block">
            <mat-label>id</mat-label>
            <input matInput type="number" formControlName="id">
        </mat-form-field>
        <mat-form-field appearance="outline" class="d-block">
            <mat-label>Type</mat-label>
            <mat-select formControlName="kind">
                <mat-option value="PRODUCT">PRODUCT</mat-option>
                <mat-option value="LEDGER">LEDGER</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="d-block" *ngIf="isProduct">
            <mat-label>Product</mat-label>
            <mat-select formControlName="item_id">
                <mat-option *ngFor="let p of products | async" [value]="p.id">
                    <div class="d-flex justify-content-between">
                        <span>{{ p.title }}</span>
                        <span>{{ p.rate | currency:'INR' }}</span>
                    </div>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="d-block" *ngIf="!isProduct">
            <mat-label>Ledger</mat-label>
            <mat-select formControlName="item_id">
                <mat-option *ngFor="let l of ledgers | async" [value]="l.id">
                    {{ l.title }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="d-block">
            <mat-label>Rate</mat-label>
            <input matInput type="number" formControlName="rate">
        </mat-form-field>
        <mat-form-field appearance="outline" class="d-block">
            <mat-label>Quantity</mat-label>
            <input matInput type="number" formControlName="quantity">
        </mat-form-field>

        <button type="submit" class="btn m-1" mat-raised-button color="primary">
            Submit
        </button>
        <button type="reset" class="btn m-1" mat-raised-button color="warn">
            Reset
        </button>
    </div>
</form>