@font-face {
  font-family: 'bungee';
  src: url('./../../../../assets/Bungee-Regular.ttf');
}

@font-face {
  font-family: 'arizonia';
  src: url('/assets/Arizonia-Regular.ttf');
}

.font-bungee {
  font-family: 'bungee';
}

.font-arizonia {
  font-family: 'arizonia';
}

.fs-150 {
  font-size: 150px;
}