  <div class="row" *ngIf="dataLoaded">
    <div class="col-4">
      <div class="card" style="min-height: 300px">
        <div class="card-header">Invoice Count</div>
        <div class="card-body">
          <ngx-charts-pie-chart
            [legend]="showLegend"
            [legendPosition]="legendPosition"
            [results]="data.invoiceCount"
          ></ngx-charts-pie-chart>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">Bank Payments</div>
        <div class="card-body" style="min-height: 300px">
          <ngx-charts-pie-chart
            [legend]="showLegend"
            [legendPosition]="legendPosition"
            [results]="data.bankPayment"
          >
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
    <div class="col-4">
        <div class="card">
          <div class="card-header">
              Total Sales
          </div>
          <div class="card-body" style="min-height: 300px">
              <ngx-charts-pie-chart
                [legend]="showLegend"
                [legendPosition]="legendPosition"
                [results]="data.sales"
              ></ngx-charts-pie-chart>
          </div>
        </div>
    </div>
  </div>
