<table class="table bg-light">
    <thead>
        <tr>
            <th>#</th>
            <th>Kind</th>
            <th>Title</th>
            <th>Rate</th>
            <th>Quantity</th>
            <th>
                Del
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let template of getTemplatesAsObservable() | async">
            <td>{{ template.id }}</td>
            <td>{{ template.kind }}</td>
            <td>{{ getTitle(template) }}</td>
            <td>{{ template.rate }}</td>
            <td>{{ template.quantity }}</td>
            <td>
                <a (click)="deleteItem(template)" style="cursor: pointer;">
                    <mat-icon>
                        delete
                    </mat-icon>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #noItemBanner>
    <div class="ui placeholder segment">
        <div class="ui icon header">
            <i class="delete icon"></i>
            Sorry No Templates Are Added to This POS Item
        </div>
    </div>
</ng-template>