<table class="ui raised table center aligned segment">
    <thead>
        <tr>
            <th>#</th>
            <th>Kind</th>
            <th>Title</th>
            <th>Rate</th>
            <th>Quantity</th>
            <th>
                <i class="trash icon"></i>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let template of getTemplatesAsObservable() | async">
            <td>{{ template.id }}</td>
            <td>{{ template.kind }}</td>
            <td>{{ getTitle(template) }}</td>
            <td>{{ template.rate }}</td>
            <td>{{ template.quantity }}</td>
            <td>
                <button class="ui icon red circular mini button" (click)="deleteItem(template)">
                    <i class="trash icon"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #noItemBanner>
    <div class="ui placeholder segment">
        <div class="ui icon header">
            <i class="delete icon"></i>
            Sorry No Templates Are Added to This POS Item
        </div>
    </div>
</ng-template>