<button mat-stroked-button class="btn bg-light w-100 mb-3" [routerLink]="['/invoices', 'create', 'customers']">
    Go Back
</button>

<div class="card border-0">
    <div class="form-group d-block">
        <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Search Items ...">
        
    </div>
    <div class="list-group">
        <a class="list-group-item d-flex justify-content-between" *ngFor="let item of items|search:'title':searchText|slice:0:10" (click)="onSelect(item)">
            <span>{{ item.title }}</span>
            <span>{{ item.rate | currency:'INR'}}</span>
        </a>
        <div class="list-group-item" *ngIf="(items|search:'title':searchText|slice:0:10).length === 0">
            No Item Found ...
        </div>
    </div>
</div>
