<div class="ui centered grid mt-3">
    <div class="eight wide column">
        <form class="ui raised segment" [formGroup]="voucherForm" (ngSubmit)="onSubmit()">
            <h1 class="ui header">
                Create / Update Voucher
            </h1>
            <div class="content">
                <mat-form-field appearance="outline" class="d-block">
                    <mat-label>#</mat-label>
                    <input type="number" matInput="" formControlName="id" (blur)="onIdFieldChange()">
                </mat-form-field>
                <mat-form-field appearance="outline" class="d-block">
                    <mat-label>Giver</mat-label>
                    <mat-select formControlName="cr">
                    <mat-option *ngFor="let l of ledgers | async" [value]="l.id">{{ l.title }} - {{ l.group }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="d-block">
                    <mat-label>Receiver</mat-label>
                    <mat-select formControlName="dr">
                        <mat-option *ngFor="let l of ledgers | async" [value]="l.id">{{ l.title }} - {{ l.group }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="d-block">
                    <mat-label>Narration</mat-label>
                    <textarea matInput formControlName="narration" rows="5"></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline" class="d-block">
                    <mat-label>Amount</mat-label>
                    <input type="number" matInput formControlName="amount">
                </mat-form-field>
            </div>

            <div class="action">
                <button type="submit" class="ui green button">Submit</button>
                <button type="reset" class="ui red button">Reset Form</button>
            </div>
        </form>
    </div>
</div>