<div class="card-header">Create New Customer</div>
<div class="card-body">
    <form [formGroup]="createCustomerForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="d-block">
            <mat-label>Customer Name</mat-label>
            <input matInput formControlName="title" type="text">
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="d-block">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" type="text">
        </mat-form-field>
    
        <button mat-raised-button color="primary" type="submit" class="btn m-1">Submit</button>
        <button mat-raised-button color="warn" type="reset" class="btn m-1">Reset</button>
    </form>
</div>