<div class="ui header">Create New Customer</div>
<form [formGroup]="createCustomerForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="d-block">
        <mat-label>Customer Name</mat-label>
        <input matInput formControlName="title" type="text">
    </mat-form-field>

    <mat-form-field appearance="outline" class="d-block">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" type="text">
    </mat-form-field>

    <button type="submit" class="ui green button">Submit</button>
    <button type="reset" class="ui red button">Reset</button>
</form>