<div class="row">
  <div class="col-md-3 col-sm-6">
    <div class="card" [ngClass]="loading ? 'loading' : ''">
      <div class="card-body">
        <div class="form-group">
          <label for="date">Date</label>
          <input type="date" class="form-control" [formControl]="dateField" />
        </div>
        <button
          class="btn btn-primary mt-2 w-100"
          (click)="onSubmit()"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-9 col-sm-6">
    <div class="card" *ngIf="dayBook.length > 0; else noData">
      <div class="card-body">
        <table class="table-sm table-bordered text-center w-100">
          <thead class="bg-dark text-light">
            <tr>
              <th>Creditor</th>
              <th>Debtor</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dayBook">
              <td>{{ item.creditor }}</td>
              <td>{{ item.debtor }}</td>
              <td>{{ item.amount | currency: "INR" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #noData>
  <div class="card">
    <div class="card-body text-center">
      <h3 class="fs-3">No Data To Display</h3>
    </div>
  </div>
</ng-template>
