<div class="row">
    <div class="col">
      <form [formGroup]="calcForm" (ngSubmit)="addCurrency()">
        <div class="row gt-1">
          <mat-form-field class="col-6" appearance="fill">
            <mat-label>Denomination</mat-label>
            <input
              matInput
              formControlName="denomination"
              class="text-center"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let i of denominations" [value]="i">
                {{ i }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="col-6" appearance="fill">
            <mat-label> Count </mat-label>
            <input
              matInput
              formControlName="count"
              class="text-center"
              type="number"
              min="1"
              step="1"
            />
          </mat-form-field>
        </div>

        <button
          type="submit"
          mat-raised-button
          color="primary"
          class="btn w-100 mb-3"
        >
          Add Currency
        </button>
      </form>
    </div>
  </div>