<nav class="ui top attached inverted blue large stackable menu">
  <div class="header item d-flex justify-content-between">
    Shop App
    <div class="mobile only mr-0">
      <i class="bordered icon bars"></i>
    </div>
  </div>
  <a routerLink="/home" routerLinkActive="active red" class="item">
    <i class="home icon"></i>
    Home
  </a>
  <a routerLink="/admin" routerLinkActive="active red" class="item">
    <i class="home icon"></i>
    Admin
  </a>

  <div class="right menu">
    <a class="item" (click)="showCalculator()">
      Calculator
    </a>
    <a class="item" (click)="showNotification()">
      Notifications
    </a>

    <div class="ui dropdown item" appDropdown *ngIf="loggedIn; else signInMenu">
      {{ displayName }}
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">Profile</div>
        <a (click)="signOut()" class="item">Logout</a>
      </div>
    </div>
    
    <ng-template #signInMenu>
      <a
      [routerLink]="['/user', 'sign-in']"
      routerLinkActive="active red"
      class="item">
      <i class="sign in alternate icon"></i>
      Sign In
    </a>
    </ng-template>
  </div>
</nav>
