<section class="card">
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()" class="card-body">
        <div class="card-title">
            <h1 class="fs-5">Select Customer</h1>
        </div>
        <mat-form-field class="w-100">
            <mat-label>Existing Customer</mat-label>
            <input type="text" matInput [matAutocomplete]="auto" #customerTextField [formControl]="customerField" />
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let customer of filteredCustomer | async" [value]="customer">
                    {{ customer.title }}<br />
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button type="submit" class="btn btn-primary">Next</button>
    </form>
</section>