<div class="card d-print-block border-0">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <div class="card card-body border-0">
                    <h2 class="fs-1 text-center">
                        MAHARAJA COMPUTERS
                    </h2>
                    <p class="text-center lh-0">
                        Kher Complex, Opp Civil Hospital, Ashoknagar (M.P.)
                        PIN 473331 <br>
                        Ph. 9144268770; email: maharajac@gmail.com; website: http://www.maharajac.in
                    </p>
                </div>
            </div>
            <div class="col-4">
                <app-invoice-info></app-invoice-info>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <app-customer-table></app-customer-table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <app-transactions-table></app-transactions-table>
            </div>
        </div>

        <div class="row mt-5 justify-content-end">
            <div class="col-6">
                Payment Status
            </div>
            <div class="col-6">
                <p class="text-end">
                    Proprietor<br><br>
                    Maharaja Computers
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-4 mt-1">
                <ul>
                    <li>Goods / Services onces Rendered Shall Not be Taken Back.</li>
                    <li>Please Make all your payments in the name of Maharaja Computers.</li>
                </ul>
            </div>
            <div class="col-8">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>A/c Name</td>
                            <td>Maharaja Computers</td>
                        </tr>
                        <tr>
                            <td>A/c No.</td>
                            <td>3514 9275 310</td>
                        </tr>
                        <tr>
                            <td>IFSC Code</td>
                            <td> SBIN 000 5089</td>
                        </tr>
                        <tr>
                            <td>Bank</td>
                            <td>State Bank Of India</td>
                        </tr>
                        <tr>
                            <td>Branch</td>
                            <td>Mandi Road, Ashoknagar (M.P.) 473331</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>