<div class="card d-print-block border-0">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <div class="card card-body border-0">
                    <h2 class="fs-1 text-center">
                        MAHARAJA COMPUTERS
                    </h2>
                    <p class="text-center lh-0">
                        Kher Complex, Opp Civil Hospital, Ashoknagar (M.P.)
                        PIN 473331
                    </p>
                    <p class="lh-0">
                        Ph. 9144268770; <br>
                        email: maharajac@gmail.com <br>
                        website: http://www.maharajac.in
                    </p>
                </div>
            </div>
            <div class="col-4">
                <app-invoice-info></app-invoice-info>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <app-customer-table></app-customer-table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <app-transactions-table></app-transactions-table>
            </div>
        </div>

        <div class="row mt-5 justify-content-end">
            <div class="col-6">
                <p class="text-center">
                    Seal &amp; Sign<br>
                    MAHARAJA COMPUTERS
                </p>
            </div>
        </div>
    </div>
</div>