<div class="card">
    <div class="row">
        <div class="col-8">
            <div class="card card-body border-0">
                <h2 class="fs-3 text-center">
                    MAHARAJA COMPUTERS
                </h2>
                <p class="text-center lh-0">
                    Kher Complex, Opp Civil Hospital, Ashoknagar (M.P.)
                    PIN 473331 Ph. 9144268770; 
                </p>
                <p class="text-center lh-0">
                    email: maharajac@gmail.com
                    website: http://www.maharajac.in
                </p>
            </div>
        </div>
        <div class="col-4">
            <app-invoice-info></app-invoice-info>
        </div>
        <div class="col-12">
            <app-customer-table></app-customer-table>
        </div>
        <div class="col-12">
            <app-transactions-table></app-transactions-table>
        </div>
    </div>
</div>