<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="card" [ngClass]="loading ? 'loading':''">
    <h2 class="card-header">{{ editMode ? 'Update Product' : 'Create New Product' }}</h2>
    <div class="card-body">
        <mat-form-field appearance="outline" class="d-block">
            <mat-label>ID</mat-label>
            <input matInput type="number" min="0" step="1" formControlName="id" (blur)="onIdFieldChange()">
        </mat-form-field>
        <mat-form-field appearance="outline" class="d-block">
            <mat-label>Title</mat-label>
            <input type="text" matInput required formControlName="title">
        </mat-form-field>
        <mat-form-field appearance="outline" class="d-block">
            <mat-label>Rate</mat-label>
            <input matInput type="number" min="0" step="1" required formControlName="rate">
        </mat-form-field>
        <button type="submit" class="btn m-1" mat-raised-button color="primary">Submit</button>
        <button type="reset" class="btn m-1" mat-raised-button color="warn">Reset Form</button>
    </div>
</form>