<div class="card">
  <h2 class="card-header">
    {{ productName }}
  </h2>
  <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()" class="card-body">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="d-block" appearance="outline">
          <mat-label>Quantity</mat-label>
          <input
            type="number"
            name="quantity"
            matInput
            formControlName="quantity"
            required
          />
          <mat-error
            *ngIf="quantity.invalid && (quantity.touched || quantity.dirty)"
          >
            <span *ngIf="quantity.hasError('required')"
              >Please Provide Quantity.</span
            >
            <span *ngIf="quantity.hasError('min')"
              >Quantity Must Not Be Zero.</span
            >
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="d-block" appearance="outline">
          <mat-label>Rate</mat-label>
          <input type="number" name="rate" matInput formControlName="rate" required />
          <mat-error *ngIf="rate.invalid && (rate.touched || rate.dirty)">
            <span *ngIf="rate.hasError('required')">Please Provide Rate.</span>
            <span *ngIf="rate.hasError('min')">Rate Must Not Be Zero.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field class="d-block" appearance="outline">
          <mat-label>Discount</mat-label>
          <input
            type="number"
            name="discount"
            matInput
            formControlName="discount"
          />
        </mat-form-field>
      </div>
    </div>


    <div class="d-flex">
      <div class="p-1 flex-fill">
        <button
          type="submit"
          class="btn btn-success w-100"
          [disabled]="transactionForm.invalid"
          (click)="onSubmit()"
        >
          Next
        </button>
      </div>

      <div class="p-1 flex-fill">
        <button
          type="button"
          class="btn btn-primary w-100"
          [disabled]="transactionForm.invalid"
          (click)="onSubmit(true)"
        >
          Add More
        </button>
      </div>
      
    </div>

  </form>
</div>

<table class="table bg-light mt-3 text-center">
  <thead>
    <tr>
      <th *ngIf="netPrice < 5000">
        <span class="d-block">Gross Amount</span>
        <span class="d-block text-center">A</span>
      </th>
      <th *ngIf="netPrice < 5000">
        <span class="d-block">Total Discount</span>
        <span class="d-block text-center">B</span>
      </th>
      <th>
        <span class="d-block">Net Amount</span>
        <span class="d-block text-center">A - B</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-center">
      <td *ngIf="netPrice < 5000">
        <span class="d-block">
          {{ grossPrice | currency: 'INR' }}
        </span>
        <span class="d-block">
          {{ this.quantity.value }}@{{ this.rate.value }}
        </span>
      </td>
      <td *ngIf="netPrice < 5000">
        <span class="d-block">{{ discount.value | currency: 'INR'}}</span>
        <span class="d-block">{{ discountPercent | number:'1.2-2' }} %</span>
      </td>
      <td class="fw-bold fs-1 align-middle">
        {{ netPrice | currency: 'INR' }}
      </td>
    </tr>
  </tbody>
</table>
