<section class="card mt-3">
    <div class="card-body" style="max-height: 50vh; overflow-x: scroll;">
        <table class="table table-sm table-hover" *ngIf="dataLength > 0; else noItem">
            <thead class="text-center">
                <tr>
                    <th>#</th>
                    <th>Time</th>
                    <th>Customer</th>
                    <th>Amount</th>
                    <th>Counter</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let invoice of invoices | async" (click)="selectInvoice(invoice.id)">
                    <td>{{ invoice.id }}</td>
                    <td>{{ invoice.created_at | date:'hh:mm a' }}</td>
                    <td class="text-center">{{ invoice.customer.title | slice:0:10 }}</td>
                    <td class="text-end pe-3">{{ invoice.amount | currency:'INR' }}</td>
                    <td>{{ getLedger(invoice.paymentMethod).title | slice:0:3 }} ... </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<ng-template #noItem>
    <div class="text-center fs-3">No Invoices For Selected Date</div>
</ng-template>