<div class="card mt-3">
    <div class="card-body" style="max-height: 50vh; overflow-x: scroll;">
      <table class="table table-sm" *ngIf="dataLength > 0; else noItem">
        <thead class="text-center">
          <tr>
            <th>#</th>
            <th>Customer</th>
            <th>Amount</th>
            <th>Counter</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let invoice of invoices | async"
            (click)="selectInvoice(invoice.id)"
            style="cursor: pointer;"
          >
            <td>{{ invoice.id }}</td>
            <td>{{ invoice.customer.title | slice:0:10 }}</td>
            <td class="text-end pe-3">{{ invoice.amount | currency:'INR' }}</td>
            <td>{{ invoice.paymentMethod | slice:0:3 }} .. </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ng-template #noItem>
    <div class="text-center fs-3">No Invoices For Selected Date</div>
  </ng-template>