<div class="ui grid mt-3">
    <div class="column">
        <div class="ui placeholder segment">
            <div class="ui icon header">
                <i class="spinner icon"></i>
                <h1 class="header">Please Wait while data is being Loaded...</h1>
            </div>
            <div class="ui blue swinging indeterminate progress">
                <div class="bar">
                    <div class="progress">Loading Data</div>
                </div>
            </div>
        </div>
    </div>
</div>