<div class="ui grid" *ngIf="messages.value.length > 1;else noNotification">
    <div class="column">
        <div class="ui header">
            Notification
        </div>
        <div class="ui paged segment" *ngFor="let message of messages | async" [ngClass]="getClass(message.state)">
            <div class="ui header">
                {{ message.title }}
            </div>
            <p>
                {{ message.text }}
            </p>
            <div class="ui bottom right attached label">
                {{ message.createdAt | date: 'hh:MM' }}
            </div>
        </div>
    </div>
</div>

<ng-template #noNotification>
    <div class="ui icon negative message">
        <i class="inbox icon"></i>
        <div class="content">
            <div class="header">
                Notifications Empty
            </div>
            <ul>
                <li>It seems there are no Notification.</li>
            </ul>
        </div>
    </div>
</ng-template>