<form [formGroup]="ledgerForm" (ngSubmit)="onSubmit()" class="card" [ngClass]="loading ? 'loading':''">
    <h2 class="card-header fs-2">
        {{ editMode ? 'Update Ledger' : 'Create New Ledger' }}
    </h2>
    <div class="card-body">
        <mat-form-field appearance="outline" class="d-block">
            <mat-label>#</mat-label>
            <input type="number" min="0" step="1" matInput formControlName="id" (blur)="onIdFieldChange()">
        </mat-form-field>
        <mat-form-field appearance="outline" class="d-block">
            <mat-label>Ledger Name</mat-label>
            <input matInput type="text" required formControlName="title">
            <mat-error *ngIf="titleField.invalid && (titleField.dirty || titleField.touched)">
                <span *ngIf="titleField.hasError('required')">Please Enter Ledger Title</span>
                <span *ngIf="titleField.hasError('pattern')">Invalid Characters in Title Field</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="d-block">
            <mat-label>Kind</mat-label>
            <mat-select formControlName="kind">
                <mat-option *ngFor="let kind of kinds" [value]="kind">
                    {{ kind }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="kindField.invalid && (kindField.dirty || kindField.touched)">
                <span *ngIf="kindField.hasError('required')">Please Enter Ledger Group</span>
            </mat-error>
        </mat-form-field>
        <button type="submit" class="btn m-1" mat-raised-button color="primary" [disabled]="ledgerForm.invalid">
            Save Data
        </button>
        <button type="reset" class="btn m-1" mat-raised-button color="warn">
            Reset Form
        </button>
    </div>
</form>