/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Icons';
    src: url("./../node_modules/fomantic-ui-css/themes/default/assets/fonts/icons.eot");
    src: url("./../node_modules/fomantic-ui-css/themes/default/assets/fonts/icons.eot?#iefix") format('embedded-opentype'), url("./../node_modules/fomantic-ui-css/themes/default/assets/fonts/icons.woff2") format('woff2'), url("./../node_modules/fomantic-ui-css/themes/default/assets/fonts/icons.woff") format('woff'), url("./../node_modules/fomantic-ui-css/themes/default/assets/fonts/icons.ttf") format('truetype'), url("./../node_modules/fomantic-ui-css/themes/default/assets/fonts/icons.svg#icons") format('svg');
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-decoration: inherit;
    text-transform: none;
  }

@media screen and (min-width: 768px) {
  .mobile.only {
    display: none !important;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mr-0 {
  margin-right: 0 i !important;
  margin-left: auto !important;
}

.d-block {
  display: block !important;
  width: 100% !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-1 {
  margin-top: 1em !important;
}

.mt-2 {
  margin-top: 2em !important;
}

.mt-3 {
  margin-top: 3em !important;
}

.mt-4 {
  margin-top: 4em !important;
}

.w-100 {
  width: 100% !important;
}
