<div mat-dialog-content>
    <div class="ui grid">
        <div class="column">
            <form [formGroup]="calcForm" class="ui form" (ngSubmit)="addCurrency()">
                <div class="field">
                    <label for="command">Enter Your Command Here</label>
                    <input type="text" formControlName="command" class="text-center" placeholder="Enter Math Equation Here">
                </div>

                <div class="two fields">
                    <div class="field">
                        <label for="denomination">Amount</label>
                        <select name="denomination" formControlName="denomination" class="ui dropdown">
                            <option *ngFor="let i of denominations" [value]="i">
                                {{ i }}
                            </option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="count">Count</label>
                        <input formControlName="count" class="text-center" type="text" min="1" step="1">
                    </div>
                </div>

                <button type="submit" class="ui fluid green labeled icon button">
                    <i class="add icon"></i>
                    Add Currency
                </button>
            </form>
        </div>
    </div>
    <div class="ui grid" [hidden]="currencyTotal === 0">
        <div class="column">
            <table class="ui compact striped table">
                <thead>
                    <tr class="text-center">
                        <th>
                            Value
                        </th>
                        <th>
                            Count
                        </th>
                        <th>
                            Amount
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let currency of CurrencyArray">
                        <td>{{ currency.denomination | currency:'INR'}}</td>
                        <td>x {{ currency.count }}</td>
                        <td>{{ currency.amount | currency:'INR' }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="2">
                            Total
                        </th>
                        <th>
                            {{ currencyTotal | currency:'INR'}}
                        </th>
                    </tr>
                </tfoot>
            </table>
            <button type="reset" class="ui fluid red button" (click)="resetCurrency()">Reset</button>
        </div>
    </div>
</div>